---
layout: default
title: Home
---

<section id="hero">
  <h1>Welcome to TravelFilm</h1>
  <p>General Photography & Travel Stories</p>
</section>

<section id="gallery">
  <h2>Photo Gallery</h2>
  <ul id="categories">
    {% for cat in site.categories %}
      <li><a href="#{{ cat }}">{{ cat }}</a></li>
    {% endfor %}
  </ul>

  <div class="photos">
    {% for photo in site.photos %}
      <div class="photo-card" data-category="{{ photo.category }}">
        <img src="{{ photo.image }}" alt="{{ photo.title }}">
        <h3>{{ photo.title }}</h3>
        <p>{{ photo.location }} | ISO: {{ photo.iso }} | Aperture: {{ photo.aperture }} | Shutter: {{ photo.shutter }}</p>
        <p>{{ photo.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>

<section id="blog">
  <h2>Latest Articles</h2>
  <ul>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}</li>
    {% endfor %}
  </ul>
</section>

<section id="social">
  <h2>Follow Me</h2>
  <ul>
    {% for network, link in site.social %}
      <li><a href="{{ link }}" target="_blank">{{ network | capitalize }}</a></li>
    {% endfor %}
  </ul>
</section>