---
layout: default
title: Home
---

<h2>Welcome to TravelFilm Portfolio</h2>
<p>Photography portfolio and blog: general photography, landscapes, nature, urban scenes, photo stories, travel guides, articles, and photography tips by @travelfilm_gr</p>

<h3>Recent Posts</h3>
<ul>
{% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %d, %Y" }}
    {% if post.categories %}
      <span>Categories: 
        {% for cat in post.categories %}
          {{ cat }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
    {% endif %}
  </li>
{% endfor %}
</ul>

<h3>Photos</h3>
<ul>
{% for photo in site.photos %}
  <li>
    <img src="{{ photo.url }}" alt="{{ photo.title }}" style="max-width:300px;">
    <p>{{ photo.title }}</p>
  </li>
{% endfor %}
</ul>